# Import Required Libraries
Import necessary libraries such as pandas, numpy, matplotlib, seaborn, and scikit-learn.

In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Set plot style for seaborn
sns.set(style="whitegrid")

# Load Datasets
Load the datasets assessments.csv, courses.csv, studentAssessment.csv, studentRegistration.csv, and vle.csv using pandas.

In [2]:
# Load Datasets

# Load the assessments.csv dataset
assessments = pd.read_csv('assessments.csv')

# Load the courses.csv dataset
courses = pd.read_csv('courses.csv')

# Load the studentAssessment.csv dataset
student_assessment = pd.read_csv('studentAssessment.csv')

# Load the studentRegistration.csv dataset
student_registration = pd.read_csv('studentRegistration.csv')

# Load the vle.csv dataset
vle = pd.read_csv('vle.csv')

# Display the first few rows of each dataset to verify loading
display(assessments.head())
display(courses.head())
display(student_assessment.head())
display(student_registration.head())
display(vle.head())

  code_module code_presentation  id_assessment assessment_type   date  weight
0         AAA             2013J           1752             TMA   19.0    10.0
1         AAA             2013J           1753             TMA   54.0    20.0
2         AAA             2013J           1754             TMA  117.0    20.0
3         AAA             2013J           1755             TMA  166.0    20.0
4         AAA             2013J           1756             TMA  215.0    30.0

  code_module code_presentation  module_presentation_length
0         AAA             2013J                         268
1         AAA             2014J                         269
2         BBB             2013J                         268
3         BBB             2014J                         262
4         BBB             2013B                         240

   id_assessment  id_student  date_submitted  is_banked  score
0           1752       11391              18          0   78.0
1           1752       28400              22          0   70.0
2           1752       31604              17          0   72.0
3           1752       32885              26          0   69.0
4           1752       38053              19          0   79.0

,code_module,code_presentation,id_student,date_registration,date_unregistration
0,AAA,2013J,11391,-159.0,NaN
1,AAA,2013J,28400,-53.0,NaN
2,AAA,2013J,30268,-92.0,12.0
3,AAA,2013J,31604,-52.0,NaN
4,AAA,2013J,32885,-176.0,NaN

   id_site code_module code_presentation activity_type  week_from  week_to
0   546943         AAA             2013J      resource        NaN      NaN
1   546712         AAA             2013J     oucontent        NaN      NaN
2   546998         AAA             2013J      resource        NaN      NaN
3   546888         AAA             2013J           url        NaN      NaN
4   547035         AAA             2013J      resource        NaN      NaN

In [3]:
# Load the studentVle.csv dataset
student_vle = pd.read_csv('studentVle.csv')

# Verify the columns in the studentVle dataset
print("Columns in studentVle:", student_vle.columns)

Columns in studentVle: Index(['code_module', 'code_presentation', 'id_student', 'id_site', 'date',
       'sum_click'],
      dtype='object')

# Data Exploration
Perform initial exploration of the datasets, including checking for missing values, data types, and basic statistics.

In [4]:
# Check for missing values in each dataset
print("Missing values in assessments dataset:")
print(assessments.isnull().sum())

print("\nMissing values in courses dataset:")
print(courses.isnull().sum())

print("\nMissing values in studentAssessment dataset:")
print(student_assessment.isnull().sum())

print("\nMissing values in studentRegistration dataset:")
print(student_registration.isnull().sum())

print("\nMissing values in vle dataset:")
print(vle.isnull().sum())

# Check data types of each dataset
print("\nData types in assessments dataset:")
print(assessments.dtypes)

print("\nData types in courses dataset:")
print(courses.dtypes)

print("\nData types in studentAssessment dataset:")
print(student_assessment.dtypes)

print("\nData types in studentRegistration dataset:")
print(student_registration.dtypes)

print("\nData types in vle dataset:")
print(vle.dtypes)

# Display basic statistics for each dataset
print("\nBasic statistics for assessments dataset:")
print(assessments.describe(include='all'))

print("\nBasic statistics for courses dataset:")
print(courses.describe(include='all'))

print("\nBasic statistics for studentAssessment dataset:")
print(student_assessment.describe(include='all'))

print("\nBasic statistics for studentRegistration dataset:")
print(student_registration.describe(include='all'))

print("\nBasic statistics for vle dataset:")
print(vle.describe(include='all'))

Missing values in assessments dataset:
code_module           0
code_presentation     0
id_assessment         0
assessment_type       0
date                 11
weight                0
dtype: int64

Missing values in courses dataset:
code_module                   0
code_presentation             0
module_presentation_length    0
dtype: int64

Missing values in studentAssessment dataset:
id_assessment       0
id_student          0
date_submitted      0
is_banked           0
score             173
dtype: int64

Missing values in studentRegistration dataset:
code_module                0
code_presentation          0
id_student                 0
date_registration         45
date_unregistration    22521
dtype: int64

Missing values in vle dataset:
id_site                 0
code_module             0
code_presentation       0
activity_type           0
week_from            5243
week_to              5243
dtype: int64

Data types in assessments dataset:
code_module           object
code_presentation     object
id_assessment          int64
assessment_type       object
date                 float64
weight               float64
dtype: object

Data types in courses dataset:
code_module                   object
code_presentation             object
module_presentation_length     int64
dtype: object

Data types in studentAssessment dataset:
id_assessment       int64
id_student          int64
date_submitted      int64
is_banked           int64
score             float64
dtype: object

Data types in studentRegistration dataset:
code_module             object
code_presentation       object
id_student               int64
date_registration      float64
date_unregistration    float64
dtype: object

Data types in vle dataset:
id_site                int64
code_module           object
code_presentation     object
activity_type         object
week_from            float64
week_to              float64
dtype: object

Basic statistics for assessments dataset:
       code_module code_presentation  id_assessment assessment_type  \
count          206               206     206.000000             206
unique           7                 4            NaN               3
top            FFF             2014J            NaN             TMA
freq            52                57            NaN             106
mean           NaN               NaN   26473.975728             NaN
std            NaN               NaN   10098.625521             NaN
min            NaN               NaN    1752.000000             NaN
25%            NaN               NaN   15023.250000             NaN
50%            NaN               NaN   25364.500000             NaN
75%            NaN               NaN   34891.750000             NaN
max            NaN               NaN   40088.000000             NaN

              date      weight
count   195.000000  206.000000
unique         NaN         NaN
top            NaN         NaN
freq           NaN         NaN
mean    145.005128   20.873786
std      76.001119   30.384224
min      12.000000    0.000000
25%      71.000000    0.000000
50%     152.000000   12.500000
75%     222.000000   24.250000
max     261.000000  100.000000

Basic statistics for courses dataset:
       code_module code_presentation  module_presentation_length
count           22                22                   22.000000
unique           7                 4                         NaN
top            BBB             2014J                         NaN
freq             4                 7                         NaN
mean           NaN               NaN                  255.545455
std            NaN               NaN                   13.654677
min            NaN               NaN                  234.000000
25%            NaN               NaN                  241.000000
50%            NaN               NaN                  261.500000
75%            NaN               NaN                  268.000000
max            NaN               NaN                  269.000000

Basic statistics for studentAssessment dataset:
       id_assessment    id_student  date_submitted      is_banked  \
count  173912.000000  1.739120e+05   173912.000000  173912.000000
mean    26553.803556  7.051507e+05      116.032942       0.010977
std      8829.784254  5.523952e+05       71.484148       0.104194
min      1752.000000  6.516000e+03      -11.000000       0.000000
25%     15022.000000  5.044290e+05       51.000000       0.000000
50%     25359.000000  5.852080e+05      116.000000       0.000000
75%     34883.000000  6.344980e+05      173.000000       0.000000
max     37443.000000  2.698588e+06      608.000000       1.000000

               score
count  173739.000000
mean       75.799573
std        18.798107
min         0.000000
25%        65.000000
50%        80.000000
75%        90.000000
max       100.000000

Basic statistics for studentRegistration dataset:
       code_module code_presentation    id_student  date_registration  \
count        32593             32593  3.259300e+04       32548.000000
unique           7                 4           NaN                NaN
top            BBB             2014J           NaN                NaN
freq          7909             11260           NaN                NaN
mean           NaN               NaN  7.066877e+05         -69.411300
std            NaN               NaN  5.491673e+05          49.260522
min            NaN               NaN  3.733000e+03        -322.000000
25%            NaN               NaN  5.085730e+05        -100.000000
50%            NaN               NaN  5.903100e+05         -57.000000
75%            NaN               NaN  6.444530e+05         -29.000000
max            NaN               NaN  2.716795e+06         167.000000

        date_unregistration
count          10072.000000
unique                  NaN
top                     NaN
freq                    NaN
mean              49.757645
std               82.460890
min             -365.000000
25%               -2.000000
50%               27.000000
75%              109.000000
max              444.000000

Basic statistics for vle dataset:
             id_site code_module code_presentation activity_type    week_from  \
count   6.364000e+03        6364              6364          6364  1121.000000
unique           NaN           7                 4            20          NaN
top              NaN         FFF             2013J      resource          NaN
freq             NaN        1967              1772          2660          NaN
mean    7.260991e+05         NaN               NaN           NaN    15.204282
std     1.283151e+05         NaN               NaN           NaN     8.792865
min     5.267210e+05         NaN               NaN           NaN     0.000000
25%     6.615928e+05         NaN               NaN           NaN     8.000000
50%     7.300965e+05         NaN               NaN           NaN    15.000000
75%     8.140162e+05         NaN               NaN           NaN    22.000000
max     1.077905e+06         NaN               NaN           NaN    29.000000

            week_to
count   1121.000000
unique          NaN
top             NaN
freq            NaN
mean      15.214987
std        8.779806
min        0.000000
25%        8.000000
50%       15.000000
75%       22.000000
max       29.000000

# Data Cleaning
Clean the datasets by handling missing values, correcting data types, and removing duplicates.

In [5]:
# Handle missing values

# Fill missing values in 'date' column of assessments dataset with the mean date
assessments['date'].fillna(assessments['date'].mean(), inplace=True)

# Fill missing values in 'date_registration' and 'date_unregistration' columns of student_registration dataset with a placeholder value
student_registration['date_registration'].fillna(-1, inplace=True)
student_registration['date_unregistration'].fillna(-1, inplace=True)

# Drop rows with any missing values in other datasets
courses.dropna(inplace=True)
student_assessment.dropna(inplace=True)
vle.dropna(inplace=True)

# Verify that there are no more missing values
print("Missing values in assessments dataset after cleaning:")
print(assessments.isnull().sum())

print("\nMissing values in courses dataset after cleaning:")
print(courses.isnull().sum())

print("\nMissing values in studentAssessment dataset after cleaning:")
print(student_assessment.isnull().sum())

print("\nMissing values in studentRegistration dataset after cleaning:")
print(student_registration.isnull().sum())

print("\nMissing values in vle dataset after cleaning:")
print(vle.isnull().sum())

# Correct data types

# Convert 'date' columns to integer type
assessments['date'] = assessments['date'].astype(int)
student_registration['date_registration'] = student_registration['date_registration'].astype(int)
student_registration['date_unregistration'] = student_registration['date_unregistration'].astype(int)

# Verify data types
print("\nData types in assessments dataset after type correction:")
print(assessments.dtypes)

print("\nData types in studentRegistration dataset after type correction:")
print(student_registration.dtypes)

# Remove duplicates

# Drop duplicate rows in each dataset
assessments.drop_duplicates(inplace=True)
courses.drop_duplicates(inplace=True)
student_assessment.drop_duplicates(inplace=True)
student_registration.drop_duplicates(inplace=True)
vle.drop_duplicates(inplace=True)

# Verify that there are no more duplicates
print("\nNumber of duplicate rows in assessments dataset after cleaning:")
print(assessments.duplicated().sum())

print("\nNumber of duplicate rows in courses dataset after cleaning:")
print(courses.duplicated().sum())

print("\nNumber of duplicate rows in studentAssessment dataset after cleaning:")
print(student_assessment.duplicated().sum())

print("\nNumber of duplicate rows in studentRegistration dataset after cleaning:")
print(student_registration.duplicated().sum())

print("\nNumber of duplicate rows in vle dataset after cleaning:")
print(vle.duplicated().sum())

C:\Users\aidan_1k98io6\AppData\Local\Temp\ipykernel_34536\984639939.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  assessments['date'].fillna(assessments['date'].mean(), inplace=True)
C:\Users\aidan_1k98io6\AppData\Local\Temp\ipykernel_34536\984639939.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  student_registration['date_registration'].fillna(-1, inplace=True)
C:\Users\aidan_1k98io6\AppData\Local\Temp\ipykernel_34536\984639939.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  student_registration['date_unregistration'].fillna(-1, inplace=True)

Missing values in assessments dataset after cleaning:
code_module          0
code_presentation    0
id_assessment        0
assessment_type      0
date                 0
weight               0
dtype: int64

Missing values in courses dataset after cleaning:
code_module                   0
code_presentation             0
module_presentation_length    0
dtype: int64

Missing values in studentAssessment dataset after cleaning:
id_assessment     0
id_student        0
date_submitted    0
is_banked         0
score             0
dtype: int64

Missing values in studentRegistration dataset after cleaning:
code_module            0
code_presentation      0
id_student             0
date_registration      0
date_unregistration    0
dtype: int64

Missing values in vle dataset after cleaning:
id_site              0
code_module          0
code_presentation    0
activity_type        0
week_from            0
week_to              0
dtype: int64

Data types in assessments dataset after type correction:
code_module           object
code_presentation     object
id_assessment          int64
assessment_type       object
date                   int32
weight               float64
dtype: object

Data types in studentRegistration dataset after type correction:
code_module            object
code_presentation      object
id_student              int64
date_registration       int32
date_unregistration     int32
dtype: object

Number of duplicate rows in assessments dataset after cleaning:
0

Number of duplicate rows in courses dataset after cleaning:
0

Number of duplicate rows in studentAssessment dataset after cleaning:
0

Number of duplicate rows in studentRegistration dataset after cleaning:
0

Number of duplicate rows in vle dataset after cleaning:
0

# Data Transformation
Transform the data as needed, such as normalizing numerical features and encoding categorical features.

In [6]:
# Data Transformation

# Normalize numerical features
scaler = StandardScaler()

# Normalize 'date' column in assessments dataset
assessments['date'] = scaler.fit_transform(assessments[['date']])

# Normalize 'date_registration' and 'date_unregistration' columns in student_registration dataset
student_registration[['date_registration', 'date_unregistration']] = scaler.fit_transform(student_registration[['date_registration', 'date_unregistration']])

# Encode categorical features using one-hot encoding
# Do NOT one-hot encode 'id_assessment' in student_assessment
student_assessment_encoded = student_assessment.copy()  # Preserve 'id_assessment'

# Encode other datasets
assessments_encoded = pd.get_dummies(assessments, columns=['assessment_type'])
courses_encoded = courses.copy()  # Preserve 'code_module' and 'code_presentation'
student_registration_encoded = pd.get_dummies(student_registration, columns=['code_module', 'code_presentation'])

# Display the first few rows of each transformed dataset to verify transformation
display(assessments_encoded.head())
display(courses_encoded.head())
display(student_assessment_encoded.head())
display(student_registration_encoded.head())

,code_module,code_presentation,id_assessment,date,weight,assessment_type_CMA,assessment_type_Exam,assessment_type_TMA
0,AAA,2013J,1752,-1.708441,10.0,False,False,True
1,AAA,2013J,1753,-1.233892,20.0,False,False,True
2,AAA,2013J,1754,-0.379705,20.0,False,False,True
3,AAA,2013J,1755,0.284663,20.0,False,False,True
4,AAA,2013J,1756,0.949032,30.0,False,False,True

  code_module code_presentation  module_presentation_length
0         AAA             2013J                         268
1         AAA             2014J                         269
2         BBB             2013J                         268
3         BBB             2014J                         262
4         BBB             2013B                         240

   id_assessment  id_student  date_submitted  is_banked  score
0           1752       11391              18          0   78.0
1           1752       28400              22          0   70.0
2           1752       31604              17          0   72.0
3           1752       32885              26          0   69.0
4           1752       38053              19          0   79.0

,id_student,date_registration,date_unregistration,code_module_AAA,code_module_BBB,code_module_CCC,code_module_DDD,code_module_EEE,code_module_FFF,code_module_GGG,code_presentation_2013B,code_presentation_2013J,code_presentation_2014B,code_presentation_2014J
0,11391,-1.819454,-0.304629,True,False,False,False,False,False,False,False,True,False,False
1,28400,0.331029,-0.304629,True,False,False,False,False,False,False,False,True,False,False
2,30268,-0.460186,-0.052152,True,False,False,False,False,False,False,False,True,False,False
3,31604,0.351317,-0.304629,True,False,False,False,False,False,False,False,True,False,False
4,32885,-2.164343,-0.304629,True,False,False,False,False,False,False,False,True,False,False

In [7]:
# Verify columns in merged_data and courses_encoded
print("Columns in merged_data:", merged_data.columns)
print("Columns in courses_encoded:", courses_encoded.columns)

NameError: name 'merged_data' is not defined

In [13]:
# Verify columns in student_assessment_encoded and assessments_encoded
print("Columns in student_assessment_encoded:", student_assessment_encoded.columns)
print("Columns in assessments_encoded:", assessments_encoded.columns)

Columns in student_assessment_encoded: Index(['id_student', 'date_submitted', 'is_banked', 'score',
       'id_assessment_1752', 'id_assessment_1753', 'id_assessment_1754',
       'id_assessment_1755', 'id_assessment_1756', 'id_assessment_1758',
       ...
       'id_assessment_37433', 'id_assessment_37435', 'id_assessment_37436',
       'id_assessment_37437', 'id_assessment_37438', 'id_assessment_37439',
       'id_assessment_37440', 'id_assessment_37441', 'id_assessment_37442',
       'id_assessment_37443'],
      dtype='object', length=192)
Columns in assessments_encoded: Index(['code_module', 'code_presentation', 'id_assessment', 'date', 'weight',
       'assessment_type_CMA', 'assessment_type_Exam', 'assessment_type_TMA'],
      dtype='object')

In [28]:
# Verify columns in merged_data and vle_encoded
print("Columns in merged_data:", merged_data.columns)
print("Columns in vle_encoded:", vle_encoded.columns)

Columns in merged_data: Index(['id_assessment', 'id_student', 'date_submitted', 'is_banked', 'score',
       'code_module', 'code_presentation', 'date', 'weight',
       'assessment_type_CMA', 'assessment_type_Exam', 'assessment_type_TMA',
       'date_registration', 'date_unregistration', 'code_module_AAA',
       'code_module_BBB', 'code_module_CCC', 'code_module_DDD',
       'code_module_EEE', 'code_module_FFF', 'code_module_GGG',
       'code_presentation_2013B', 'code_presentation_2013J',
       'code_presentation_2014B', 'code_presentation_2014J',
       'module_presentation_length'],
      dtype='object')
Columns in vle_encoded: Index(['id_site', 'code_module', 'code_presentation', 'activity_type',
       'week_from', 'week_to'],
      dtype='object')

# Data Integration
Integrate the datasets into a single DataFrame for analysis.

In [24]:
print(merged_data.head())
print(courses_encoded.head())

   id_assessment  id_student  date_submitted  is_banked  score code_module  \
0           1752       11391              18          0   78.0         AAA
1           1752       28400              22          0   70.0         AAA
2           1752       31604              17          0   72.0         AAA
3           1752       32885              26          0   69.0         AAA
4           1752       38053              19          0   79.0         AAA

  code_presentation      date  weight  assessment_type_CMA  ...  \
0             2013J -1.708441    10.0                False  ...
1             2013J -1.708441    10.0                False  ...
2             2013J -1.708441    10.0                False  ...
3             2013J -1.708441    10.0                False  ...
4             2013J -1.708441    10.0                False  ...

   code_module_CCC  code_module_DDD  code_module_EEE  code_module_FFF  \
0            False            False            False            False
1            False            False            False            False
2            False            False            False            False
3            False            False            False            False
4            False            False            False            False

   code_module_GGG  code_presentation_2013B  code_presentation_2013J  \
0            False                    False                     True
1            False                    False                     True
2            False                    False                     True
3            False                    False                     True
4            False                    False                     True

   code_presentation_2014B  code_presentation_2014J  \
0                    False                    False
1                    False                    False
2                    False                    False
3                    False                    False
4                    False                    False

   module_presentation_length
0                         268
1                         268
2                         268
3                         268
4                         268

[5 rows x 26 columns]
  code_module code_presentation  module_presentation_length
0         AAA             2013J                         268
1         AAA             2014J                         269
2         BBB             2013J                         268
3         BBB             2014J                         262
4         BBB             2013B                         240

In [10]:
print("Columns in student_assessment_encoded:", student_assessment_encoded.columns)

Columns in student_assessment_encoded: Index(['id_student', 'date_submitted', 'is_banked', 'score',
       'id_assessment_1752', 'id_assessment_1753', 'id_assessment_1754',
       'id_assessment_1755', 'id_assessment_1756', 'id_assessment_1758',
       ...
       'id_assessment_37433', 'id_assessment_37435', 'id_assessment_37436',
       'id_assessment_37437', 'id_assessment_37438', 'id_assessment_37439',
       'id_assessment_37440', 'id_assessment_37441', 'id_assessment_37442',
       'id_assessment_37443'],
      dtype='object', length=192)

In [11]:
print("Columns in assessments_encoded:", assessments_encoded.columns)

Columns in assessments_encoded: Index(['code_module', 'code_presentation', 'id_assessment', 'date', 'weight',
       'assessment_type_CMA', 'assessment_type_Exam', 'assessment_type_TMA'],
      dtype='object')

In [7]:
# Filter student_vle to include only relevant columns
student_vle_filtered = student_vle[['id_student', 'code_module', 'code_presentation', 'sum_click']]

# Optionally, filter rows based on specific criteria (e.g., limit to a subset of students)
# student_vle_filtered = student_vle_filtered[student_vle_filtered['id_student'] <= 10000]

In [ ]:
import pandas as pd
import os

# Data Integration

# Merge assessments with student_assessment on 'id_assessment'
merged_data = pd.merge(student_assessment_encoded, assessments_encoded, on='id_assessment')

# Merge the result with student_registration on 'id_student'
merged_data = pd.merge(merged_data, student_registration_encoded, on='id_student')

# Merge the result with courses on 'code_module' and 'code_presentation'
merged_data = pd.merge(merged_data, courses_encoded, on=['code_module', 'code_presentation'])

# Optimize data types to reduce memory usage
merged_data['id_student'] = merged_data['id_student'].astype('int32')
merged_data['code_module'] = merged_data['code_module'].astype('category')
merged_data['code_presentation'] = merged_data['code_presentation'].astype('category')

# Process student_vle in chunks to avoid memory issues
chunk_size = 100000  # Adjust the chunk size based on your memory constraints
output_file = 'final_merged_data.csv'  # File to store the final merged data

# Initialize an empty file to store the final merged data
if os.path.exists(output_file):
    os.remove(output_file)  # Remove the file if it already exists

# Write the header to the output file
merged_data.head(0).to_csv(output_file, index=False)

# Process each chunk and append to the output file
for chunk in pd.read_csv('studentVle.csv', chunksize=chunk_size):
    # Filter the chunk to include only relevant columns
    chunk_filtered = chunk[['id_student', 'code_module', 'code_presentation', 'sum_click']]
    
    # Optimize data types for the chunk
    chunk_filtered['id_student'] = chunk_filtered['id_student'].astype('int32')
    chunk_filtered['code_module'] = chunk_filtered['code_module'].astype('category')
    chunk_filtered['code_presentation'] = chunk_filtered['code_presentation'].astype('category')
    chunk_filtered['sum_click'] = chunk_filtered['sum_click'].astype('int32')
    
    # Merge the chunk with the merged_data
    merged_chunk = pd.merge(merged_data, chunk_filtered, on=['code_module', 'code_presentation', 'id_student'])
    
    # Append the merged chunk to the output file
    merged_chunk.to_csv(output_file, mode='a', header=False, index=False)
    
    # Clear memory by deleting the merged_chunk DataFrame
    del merged_chunk

# Load the final merged data from the output file for verification
final_merged_data = pd.read_csv(output_file)

# Display the first few rows of the integrated dataset to verify integration
display(final_merged_data.head())

# Check for missing values in the integrated dataset
print("Missing values in the integrated dataset:")
print(final_merged_data.isnull().sum())

# Check data types of the integrated dataset
print("\nData types in the integrated dataset:")
print(final_merged_data.dtypes)

# Display basic statistics for the integrated dataset
print("\nBasic statistics for the integrated dataset:")
print(final_merged_data.describe(include='all'))

C:\Users\aidan_1k98io6\AppData\Local\Temp\ipykernel_34536\122564894.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chunk_filtered['id_student'] = chunk_filtered['id_student'].astype('int32')
C:\Users\aidan_1k98io6\AppData\Local\Temp\ipykernel_34536\122564894.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chunk_filtered['code_module'] = chunk_filtered['code_module'].astype('category')
C:\Users\aidan_1k98io6\AppData\Local\Temp\ipykernel_34536\122564894.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chunk_filtered['code_presentation'] = chunk_filtered['code_presentation'].astype('category')
C:\Users\aidan_1k98io6\AppData\Local\Temp\ipykernel_34536\122564894.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chunk_filtered['sum_click'] = chunk_filtered['sum_click'].astype('int32')
C:\Users\aidan_1k98io6\AppData\Local\Temp\ipykernel_34536\122564894.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chunk_filtered['id_student'] = chunk_filtered['id_student'].astype('int32')
C:\Users\aidan_1k98io6\AppData\Local\Temp\ipykernel_34536\122564894.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chunk_filtered['code_module'] = chunk_filtered['code_module'].astype('category')
C:\Users\aidan_1k98io6\AppData\Local\Temp\ipykernel_34536\122564894.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chunk_filtered['code_presentation'] = chunk_filtered['code_presentation'].astype('category')
C:\Users\aidan_1k98io6\AppData\Local\Temp\ipykernel_34536\122564894.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chunk_filtered['sum_click'] = chunk_filtered['sum_click'].astype('int32')
C:\Users\aidan_1k98io6\AppData\Local\Temp\ipykernel_34536\122564894.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chunk_filtered['id_student'] = chunk_filtered['id_student'].astype('int32')
C:\Users\aidan_1k98io6\AppData\Local\Temp\ipykernel_34536\122564894.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chunk_filtered['code_module'] = chunk_filtered['code_module'].astype('category')
C:\Users\aidan_1k98io6\AppData\Local\Temp\ipykernel_34536\122564894.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chunk_filtered['code_presentation'] = chunk_filtered['code_presentation'].astype('category')
C:\Users\aidan_1k98io6\AppData\Local\Temp\ipykernel_34536\122564894.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chunk_filtered['sum_click'] = chunk_filtered['sum_click'].astype('int32')
C:\Users\aidan_1k98io6\AppData\Local\Temp\ipykernel_34536\122564894.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chunk_filtered['id_student'] = chunk_filtered['id_student'].astype('int32')
C:\Users\aidan_1k98io6\AppData\Local\Temp\ipykernel_34536\122564894.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chunk_filtered['code_module'] = chunk_filtered['code_module'].astype('category')
C:\Users\aidan_1k98io6\AppData\Local\Temp\ipykernel_34536\122564894.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chunk_filtered['code_presentation'] = chunk_filtered['code_presentation'].astype('category')
C:\Users\aidan_1k98io6\AppData\Local\Temp\ipykernel_34536\122564894.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chunk_filtered['sum_click'] = chunk_filtered['sum_click'].astype('int32')
C:\Users\aidan_1k98io6\AppData\Local\Temp\ipykernel_34536\122564894.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chunk_filtered['id_student'] = chunk_filtered['id_student'].astype('int32')
C:\Users\aidan_1k98io6\AppData\Local\Temp\ipykernel_34536\122564894.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chunk_filtered['code_module'] = chunk_filtered['code_module'].astype('category')
C:\Users\aidan_1k98io6\AppData\Local\Temp\ipykernel_34536\122564894.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chunk_filtered['code_presentation'] = chunk_filtered['code_presentation'].astype('category')
C:\Users\aidan_1k98io6\AppData\Local\Temp\ipykernel_34536\122564894.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chunk_filtered['sum_click'] = chunk_filtered['sum_click'].astype('int32')
C:\Users\aidan_1k98io6\AppData\Local\Temp\ipykernel_34536\122564894.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chunk_filtered['id_student'] = chunk_filtered['id_student'].astype('int32')
C:\Users\aidan_1k98io6\AppData\Local\Temp\ipykernel_34536\122564894.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chunk_filtered['code_module'] = chunk_filtered['code_module'].astype('category')
C:\Users\aidan_1k98io6\AppData\Local\Temp\ipykernel_34536\122564894.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chunk_filtered['code_presentation'] = chunk_filtered['code_presentation'].astype('category')
C:\Users\aidan_1k98io6\AppData\Local\Temp\ipykernel_34536\122564894.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chunk_filtered['sum_click'] = chunk_filtered['sum_click'].astype('int32')
C:\Users\aidan_1k98io6\AppData\Local\Temp\ipykernel_34536\122564894.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chunk_filtered['id_student'] = chunk_filtered['id_student'].astype('int32')
C:\Users\aidan_1k98io6\AppData\Local\Temp\ipykernel_34536\122564894.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chunk_filtered['code_module'] = chunk_filtered['code_module'].astype('category')
C:\Users\aidan_1k98io6\AppData\Local\Temp\ipykernel_34536\122564894.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chunk_filtered['code_presentation'] = chunk_filtered['code_presentation'].astype('category')
C:\Users\aidan_1k98io6\AppData\Local\Temp\ipykernel_34536\122564894.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chunk_filtered['sum_click'] = chunk_filtered['sum_click'].astype('int32')
C:\Users\aidan_1k98io6\AppData\Local\Temp\ipykernel_34536\122564894.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chunk_filtered['id_student'] = chunk_filtered['id_student'].astype('int32')
C:\Users\aidan_1k98io6\AppData\Local\Temp\ipykernel_34536\122564894.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chunk_filtered['code_module'] = chunk_filtered['code_module'].astype('category')
C:\Users\aidan_1k98io6\AppData\Local\Temp\ipykernel_34536\122564894.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chunk_filtered['code_presentation'] = chunk_filtered['code_presentation'].astype('category')
C:\Users\aidan_1k98io6\AppData\Local\Temp\ipykernel_34536\122564894.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chunk_filtered['sum_click'] = chunk_filtered['sum_click'].astype('int32')
C:\Users\aidan_1k98io6\AppData\Local\Temp\ipykernel_34536\122564894.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chunk_filtered['id_student'] = chunk_filtered['id_student'].astype('int32')
C:\Users\aidan_1k98io6\AppData\Local\Temp\ipykernel_34536\122564894.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chunk_filtered['code_module'] = chunk_filtered['code_module'].astype('category')
C:\Users\aidan_1k98io6\AppData\Local\Temp\ipykernel_34536\122564894.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chunk_filtered['code_presentation'] = chunk_filtered['code_presentation'].astype('category')
C:\Users\aidan_1k98io6\AppData\Local\Temp\ipykernel_34536\122564894.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chunk_filtered['sum_click'] = chunk_filtered['sum_click'].astype('int32')

In [15]:
print(student_assessment_encoded.head())
print(assessments_encoded.head())

   id_student  date_submitted  is_banked  score  id_assessment_1752  \
0       11391              18          0   78.0                True
1       28400              22          0   70.0                True
2       31604              17          0   72.0                True
3       32885              26          0   69.0                True
4       38053              19          0   79.0                True

   id_assessment_1753  id_assessment_1754  id_assessment_1755  \
0               False               False               False
1               False               False               False
2               False               False               False
3               False               False               False
4               False               False               False

   id_assessment_1756  id_assessment_1758  ...  id_assessment_37433  \
0               False               False  ...                False
1               False               False  ...                False
2               False               False  ...                False
3               False               False  ...                False
4               False               False  ...                False

   id_assessment_37435  id_assessment_37436  id_assessment_37437  \
0                False                False                False
1                False                False                False
2                False                False                False
3                False                False                False
4                False                False                False

   id_assessment_37438  id_assessment_37439  id_assessment_37440  \
0                False                False                False
1                False                False                False
2                False                False                False
3                False                False                False
4                False                False                False

   id_assessment_37441  id_assessment_37442  id_assessment_37443
0                False                False                False
1                False                False                False
2                False                False                False
3                False                False                False
4                False                False                False

[5 rows x 192 columns]
  code_module code_presentation  id_assessment      date  weight  \
0         AAA             2013J           1752 -1.708441    10.0
1         AAA             2013J           1753 -1.233892    20.0
2         AAA             2013J           1754 -0.379705    20.0
3         AAA             2013J           1755  0.284663    20.0
4         AAA             2013J           1756  0.949032    30.0

   assessment_type_CMA  assessment_type_Exam  assessment_type_TMA
0                False                 False                 True
1                False                 False                 True
2                False                 False                 True
3                False                 False                 True
4                False                 False                 True

# Exploratory Data Analysis (EDA)
Perform extensive EDA using visualizations and statistical analysis to understand the relationships and patterns in the data.

In [9]:
# Exploratory Data Analysis (EDA)

# Correlation Matrix
plt.figure(figsize=(15, 10))
correlation_matrix = merged_data.corr()
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt='.2f')
plt.title('Correlation Matrix')
plt.show()

# Distribution of Numerical Features
numerical_features = merged_data.select_dtypes(include=[np.number]).columns
merged_data[numerical_features].hist(bins=15, figsize=(15, 10), layout=(5, 4))
plt.suptitle('Distribution of Numerical Features')
plt.show()

# Pairplot of Selected Features
selected_features = ['date', 'weight', 'date_registration', 'date_unregistration']
sns.pairplot(merged_data[selected_features])
plt.suptitle('Pairplot of Selected Features')
plt.show()

# Boxplot of Assessment Weights by Module
plt.figure(figsize=(12, 6))
sns.boxplot(x='code_module', y='weight', data=merged_data)
plt.title('Boxplot of Assessment Weights by Module')
plt.show()

# Countplot of Assessment Types
plt.figure(figsize=(10, 6))
sns.countplot(x='assessment_type_TMA', data=merged_data)
plt.title('Countplot of Assessment Types')
plt.show()

# Scatter Plot of Registration Dates vs. Unregistration Dates
plt.figure(figsize=(10, 6))
sns.scatterplot(x='date_registration', y='date_unregistration', data=merged_data)
plt.title('Scatter Plot of Registration Dates vs. Unregistration Dates')
plt.show()

# Violin Plot of Assessment Weights by Presentation
plt.figure(figsize=(12, 6))
sns.violinplot(x='code_presentation', y='weight', data=merged_data)
plt.title('Violin Plot of Assessment Weights by Presentation')
plt.show()

# Heatmap of Missing Values
plt.figure(figsize=(15, 10))
sns.heatmap(merged_data.isnull(), cbar=False, cmap='viridis')
plt.title('Heatmap of Missing Values')
plt.show()

# Summary Statistics of Numerical Features
summary_statistics = merged_data.describe()
display(summary_statistics)

# Grouped Bar Plot of Assessment Weights by Module and Presentation
plt.figure(figsize=(15, 8))
sns.barplot(x='code_module', y='weight', hue='code_presentation', data=merged_data)
plt.title('Grouped Bar Plot of Assessment Weights by Module and Presentation')
plt.show()

# Boxplot of Registration Dates by Module
plt.figure(figsize=(12, 6))
sns.boxplot(x='code_module', y='date_registration', data=merged_data)
plt.title('Boxplot of Registration Dates by Module')
plt.show()

# Pairplot of Numerical Features Colored by Module
sns.pairplot(merged_data, vars=numerical_features, hue='code_module')
plt.suptitle('Pairplot of Numerical Features Colored by Module')
plt.show()

ValueError: could not convert string to float: '2013J'

# Feature Engineering
Create new features from the existing data to improve the performance of machine learning models.

In [ ]:
# Feature Engineering

# Create new feature: 'assessment_score' by multiplying 'weight' and 'score'
merged_data['assessment_score'] = merged_data['weight'] * merged_data['score']

# Create new feature: 'registration_duration' by subtracting 'date_registration' from 'date_unregistration'
merged_data['registration_duration'] = merged_data['date_unregistration'] - merged_data['date_registration']

# Create new feature: 'is_registered' to indicate if a student is currently registered (1) or not (0)
merged_data['is_registered'] = np.where(merged_data['date_unregistration'] == -1, 1, 0)

# Create new feature: 'total_clicks' by summing up all click-related columns in vle dataset
click_columns = [col for col in merged_data.columns if 'click' in col]
merged_data['total_clicks'] = merged_data[click_columns].sum(axis=1)

# Display the first few rows of the dataset to verify new features
display(merged_data.head())

# Check for missing values in the dataset after feature engineering
print("Missing values in the dataset after feature engineering:")
print(merged_data.isnull().sum())

# Check data types of the dataset after feature engineering
print("\nData types in the dataset after feature engineering:")
print(merged_data.dtypes)

# Display basic statistics for the dataset after feature engineering
print("\nBasic statistics for the dataset after feature engineering:")
print(merged_data.describe(include='all'))

# Model Building
Build machine learning models using scikit-learn, including data splitting, model training, and hyperparameter tuning.

In [ ]:
# Model Building

# Define the target variable and features
X = merged_data.drop(columns=['assessment_score'])
y = merged_data['assessment_score']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Standardize the features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Train a Linear Regression model
linear_regressor = LinearRegression()
linear_regressor.fit(X_train_scaled, y_train)

# Predict on the test set
y_pred = linear_regressor.predict(X_test_scaled)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse}")
print(f"R-squared: {r2}")

# Hyperparameter tuning using GridSearchCV
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor

# Define the model
rf_regressor = RandomForestRegressor(random_state=42)

# Define the parameter grid
param_grid = {
    'n_estimators': [100, 200, 300],
    'max_depth': [None, 10, 20, 30],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

# Perform grid search
grid_search = GridSearchCV(estimator=rf_regressor, param_grid=param_grid, cv=3, n_jobs=-1, verbose=2)
grid_search.fit(X_train_scaled, y_train)

# Get the best parameters and best score
best_params = grid_search.best_params_
best_score = grid_search.best_score_

print(f"Best Parameters: {best_params}")
print(f"Best Score: {best_score}")

# Train the best model
best_rf_regressor = grid_search.best_estimator_
best_rf_regressor.fit(X_train_scaled, y_train)

# Predict on the test set with the best model
y_pred_best = best_rf_regressor.predict(X_test_scaled)

# Evaluate the best model
mse_best = mean_squared_error(y_test, y_pred_best)
r2_best = r2_score(y_test, y_pred_best)

print(f"Best Model Mean Squared Error: {mse_best}")
print(f"Best Model R-squared: {r2_best}")

# Model Evaluation
Evaluate the performance of the models using appropriate metrics and validation techniques.

In [ ]:
# Model Evaluation

# Evaluate the performance of the Linear Regression model
linear_regressor_mse = mean_squared_error(y_test, y_pred)
linear_regressor_r2 = r2_score(y_test, y_pred)

print(f"Linear Regression Model Mean Squared Error: {linear_regressor_mse}")
print(f"Linear Regression Model R-squared: {linear_regressor_r2}")

# Evaluate the performance of the best Random Forest model
best_rf_regressor_mse = mean_squared_error(y_test, y_pred_best)
best_rf_regressor_r2 = r2_score(y_test, y_pred_best)

print(f"Best Random Forest Model Mean Squared Error: {best_rf_regressor_mse}")
print(f"Best Random Forest Model R-squared: {best_rf_regressor_r2}")

# Plotting the results

# Plot the true vs predicted values for Linear Regression
plt.figure(figsize=(10, 6))
plt.scatter(y_test, y_pred, alpha=0.5)
plt.plot([y_test.min(), y_test.max()], [y_test.min(), y_test.max()], 'k--', lw=2)
plt.xlabel('True Values')
plt.ylabel('Predicted Values')
plt.title('Linear Regression: True vs Predicted Values')
plt.show()

# Plot the true vs predicted values for the best Random Forest model
plt.figure(figsize=(10, 6))
plt.scatter(y_test, y_pred_best, alpha=0.5)
plt.plot([y_test.min(), y_test.max()], [y_test.min(), y_test.max()], 'k--', lw=2)
plt.xlabel('True Values')
plt.ylabel('Predicted Values')
plt.title('Best Random Forest Model: True vs Predicted Values')
plt.show()

# Residual plots for Linear Regression
plt.figure(figsize=(10, 6))
sns.residplot(x=y_test, y=y_pred, lowess=True, color='g')
plt.xlabel('True Values')
plt.ylabel('Residuals')
plt.title('Linear Regression: Residuals Plot')
plt.show()

# Residual plots for the best Random Forest model
plt.figure(figsize=(10, 6))
sns.residplot(x=y_test, y=y_pred_best, lowess=True, color='b')
plt.xlabel('True Values')
plt.ylabel('Residuals')
plt.title('Best Random Forest Model: Residuals Plot')
plt.show()

# Feature Importance for the best Random Forest model
feature_importances = best_rf_regressor.feature_importances_
features = X.columns
importance_df = pd.DataFrame({'Feature': features, 'Importance': feature_importances})
importance_df = importance_df.sort_values(by='Importance', ascending=False)

plt.figure(figsize=(12, 8))
sns.barplot(x='Importance', y='Feature', data=importance_df)
plt.title('Feature Importance for the Best Random Forest Model')
plt.show()

# Model Deployment
Deploy the best-performing model for use in a production environment.

In [ ]:
# Model Deployment

# Save the best model using joblib
import joblib

# Save the best Random Forest model to a file
joblib.dump(best_rf_regressor, 'best_rf_regressor_model.pkl')

# Load the model from the file
loaded_model = joblib.load('best_rf_regressor_model.pkl')

# Verify that the loaded model performs the same as the saved model
y_pred_loaded = loaded_model.predict(X_test_scaled)

# Evaluate the loaded model
mse_loaded = mean_squared_error(y_test, y_pred_loaded)
r2_loaded = r2_score(y_test, y_pred_loaded)

print(f"Loaded Model Mean Squared Error: {mse_loaded}")
print(f"Loaded Model R-squared: {r2_loaded}")

# Deploy the model using Flask
from flask import Flask, request, jsonify

app = Flask(__name__)

@app.route('/predict', methods=['POST'])
def predict():
    # Get the data from the POST request
    data = request.get_json(force=True)
    
    # Convert data into DataFrame
    data_df = pd.DataFrame(data)
    
    # Preprocess the data (scaling)
    data_scaled = scaler.transform(data_df)
    
    # Make predictions
    predictions = loaded_model.predict(data_scaled)
    
    # Return the predictions as JSON
    return jsonify(predictions.tolist())

if __name__ == '__main__':
    app.run(debug=True)